#Carrito {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrito-links-internos{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}


#Carrito a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    padding: 1em;
    border-radius: .5em;
}

#Carrito p{
    font-size: 1.3em;
}

#Carrito ul {
    list-style-type: none;
    padding: 0;
}

#Carrito li {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

#Carrito li .img-container{
    border-radius: .4em;
    margin-top: .2em;
    width: 25%;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);;
}

#Carrito li img{
    width: 100%;

}

#Carrito li:last-child {
    border-bottom: none;
}