html {
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
}

.fade-in {
  opacity: 0;
  /* Empieza con opacidad 0 para ocultar el componente */
  animation: fadeIn 0.5s ease-in forwards;
  /* Animación de fundido */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    /* Llega a una opacidad de 1 para mostrar el componente */
  }
}