.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Ajusta el ancho mínimo y distribuye en columnas iguales */
  gap: 20px;
  /* Espacio entre los elementos */
  list-style: none;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1) inset;
}

.producto {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 1em;
  box-shadow:
    10px 10px 10px rgb(0, 0, 0, 0.5) inset;
}

.producto img {
  width: 80%;
  height: 8vh;
}

.producto h3 {
  margin: 10px 0;
}

.producto p {
  margin: 10px 0;
}


/* Estilo para productos con stock */
.con-stock {
  background-color: #4CAF50;
  /* Verde */
}

/* Estilo para productos agotados */
.agotado {
  background-color: #FF5733;
  /* Rojo */
}


.spinner-load-restart {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007BFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.header-buttons {
  display: flex;
}

/* Estilos básicos del botón */
.interactive-button {
  margin: .5em auto;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #0d7106;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1) inset, .3em 4px 20px #0d7106be;
}

/* Efecto de sombra al pasar el mouse */
.interactive-button:hover {
  box-shadow: 0 6px 10px rgba(0, 123, 255, 0.2);
}

/* Efecto de clic (se hunde ligeramente) */
.interactive-button:active {
  transform: translateY(2px);
}

/* Efecto de enfoque (borde alrededor del botón) */
.interactive-button:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1), 0 0 0 3px rgba(0, 123, 255, 0.3);
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 450px) {
  body {
    background-color: #f2f2f2;
    /* Color de fondo */
    color: #1a1919;
    /* Color de texto principal */
    font-family: 'Playfair Display', serif;

    /* Fuente legible */
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 0;
    /* Elimina el relleno predeterminado */
  }

  .productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
    /* Ajusta el ancho mínimo y distribuye en columnas iguales */
    gap: .7em;
    /* Espacio entre los elementos */
    list-style: none;
    padding: 2px;

  }

  .producto img {
    border-radius: .4em;
    margin-top: .2em;
    width: 87%;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  }

  .header-buttons {
    margin-top: 1em;
    margin-bottom: 10px;
  }

  .interactive-button {
    padding: 8px 16px;
    font-size: 16px;
  }


  .header-buttons {
    background: #3333336b;
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    top: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: .5em;
    border-radius: .6em;
  }

  .header-buttons #buttons {
    display: flex;
    flex-direction: row;
  }

  .interactive-button {
    margin: 1em;
  }

  #buttons {
    margin: 0 auto;
  }

  a {
    font-size: 1.1em;
  }

  #a-almacen {
    background: #007bff;
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(45, 45, 212, 0.63) inset;

  }

  #a-verduleria {
    background: #40ff00be;
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(50, 212, 45, 0.63) inset;

  }

  #a-condimentos {
    background: #ff00ffd0;
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(179, 45, 212, 0.63) inset;
  }

  #a-farmacia{
    background: #3aa1b4;
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(45, 206, 212, 0.63) inset;
  }

  #a-otros {
    background: #ffd900f6;
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(201, 212, 45, 0.63) inset;
  }

  #Almacen-ul {
    background: rgb(126, 118, 218);
    background: linear-gradient(52deg, rgba(236, 235, 132, 1) 0%, rgba(35, 152, 208, 1) 100%);
    margin-top: 7.5em;
  }

  #Verduleria-ul {
    background: rgb(95, 233, 97);
    background: linear-gradient(52deg, rgba(236, 235, 132, 1) 0%, rgba(21, 163, 38, 1) 100%);
  }

  #Condimentos-ul {
    background: rgb(131, 58, 180);
    background: linear-gradient(52deg, rgba(236, 235, 132, 1) 0%, rgba(253, 29, 29, 0.34217436974789917) 50%, rgba(252, 176, 69, 1) 100%);
  }

  #Farmacia-ul {
    background: rgb(58,161,180);
    background: linear-gradient(90deg, rgba(58,161,180,1) 0%, rgba(71,133,120,0.711922268907563) 76%, rgba(252,176,69,0.6250875350140056) 100%);}

  #Otros-ul {
    background: rgb(236, 235, 132);
    background: linear-gradient(52deg, rgba(236, 235, 132, 1) 0%, rgba(227, 211, 22, 1) 100%);
  }


  #categorias-top{
    margin-bottom: 1.2em;
  }

  #links-categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #links-categorias a {
    margin: 0 .5em;
    text-decoration: none;
    padding: .4em;
  }
}